[project]
	description = Send whatsapp mensage for multiple users.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Michel Calacina (michelcalacina)
[access "refs/for/refs/*"]
	read = group user/Michel Calacina (michelcalacina)
	push = group user/Michel Calacina (michelcalacina)
	label-Code-Review = -2..+2 group user/Michel Calacina (michelcalacina)
	label-Verified = -1..+1 group user/Michel Calacina (michelcalacina)
	rebase = group user/Michel Calacina (michelcalacina)
	removeReviewer = group user/Michel Calacina (michelcalacina)
	submit = group user/Michel Calacina (michelcalacina)
[access "refs/heads/*"]
	read = group user/Michel Calacina (michelcalacina)
	create = group user/Michel Calacina (michelcalacina)
	push = +force group user/Michel Calacina (michelcalacina)
	pushMerge = group user/Michel Calacina (michelcalacina)
[access "refs/tags/*"]
	push = group user/Michel Calacina (michelcalacina)
	push = +force group user/Michel Calacina (michelcalacina)
